@media (max-width: 500px) {
  /* ======================= HOME PAGE ========================= */
  /* ------------------ Comman Header --------- */
  .header {
    width: 100%;
  }
  .header .blank1 {
    display: none;
  }
  .header .signIn {
    width: 100%;
  }
  .header .signUp {
    width: 100%;
  }
  .header .call {
    width: 100%;
  }
  .header .mail {
    width: 100%;
  }
  .header .blank2 {
    display: none;
  }

  .subheader {
    width: 100%;
  }
  .subheader .search {
    /* width: 100%; */
    display: none;
  }
  .subheader .company {
    width: 100%;
  }
  .subheader .sharing {
    /* width: 100%; */
    display: none;
  }

  .menu .submenu .list {
    width: 100%;
  }
  .menu .submenu .list li {
    text-align: center;
    display: block;
    width: 100%;
    margin: 5px 0px;
  }
  .menu .submenu .cart {
    width: 50%;
    margin: auto;
  }

  .banner h1 {
    margin: auto;
    font-size: 15px !important;
  }
  .banner h1 span {
    font-size: 15px !important;
    letter-spacing: 2px !important;
  }

  .saveBanner .logos .logo h3 {
    font-size: 15px !important;
  }

  .fullBanner .x .offer {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .icons {
    grid-template-columns: 1fr !important;
  }

  .newArrivals {
    width: 100%;
  }
  .newArrivals .title {
    grid-template-columns: 1fr;
  }
  .newArrivals .title .section {
    margin-bottom: 10px;
  }
  .newArrivals .row {
    grid-template-columns: 1fr 1fr;
  }

  .backgroundClip {
    width: 100%;
  }
  .backgroundClip .shopNow {
    width: 20%;
  }

  /* ------------------ Comman Footer --------- */

  .footer {
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr;
  }

  /* ======================= MEN PAGE ========================= */
  .men_content2 {
    background-color: yellow;
  }
  .men_content2 img {
    width: 100%;
    background: palegreen;
  }
  .men_content3 {
    width: 100%;
    padding: 20px;
    height: auto;
  }
  .men_content3 .photo1 {
    width: 100%;
  }
  .men_content3 .desc1 {
    width: 100%;
    padding: 10px;
  }

  /* ======================= WOMEN PAGE ========================= */
  .women_content2 {
    width: 100%;
  }
  .women_content2 img {
    width: 90%;
  }
  .women_content3 {
    width: 100%;
    padding: 20px;
    height: auto;
  }
  .women_content3 .photo1 {
    width: 100%;
  }
  .women_content3 .desc1 {
    width: 100%;
    padding: 10px;
  }

  .product_image {
    width: auto;
  }
  .product_top {
    padding: 25px;
  }
  .product_back {
    width: 170px;
  }
  .product_bottom li {
    margin: 15px;
  }
  .product_cart {
    margin: auto 20px;
  }
  .product_cart:hover .innercart {
    transform: scale(1.5);
  }

  /* ======================= ABOUT PAGE ========================= */
  .description1 {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: small;
  }
  .members .imgBack h1 {
    font-size: 20px;
  }
  .members .imgBack h3 {
    font-size: 15px;
    font-weight: 400;
  }

  /* ======================= CONTACT PAGE ========================= */
  .contact_content4 {
    width: 100%;
    padding: 10px;
  }
  .form {
    width: 100%;
  }

  /*---------------add to cart page--------------------------*/

  /* ---- PreviewBox in responsive ------- */
  .products-preview {
    top: 0px;
    left: 0px;
    padding: 10px;
  }
  .products-preview .fas {
    right: 20px;
    top: 10px;
  }
  .products-preview .preview .content {
    width: 475px;
    height: 90vh;
  }
  .products-preview .preview .content .left {
    width: 100%;
    margin: auto;
    height: 300px;
  }
  .products-preview .preview .content .right {
    width: 100%;
    padding-top: 5px;
    margin: auto;
  }
  .products-preview .preview .content .right h2 {
    font-size: 25px;
    margin: 2px 0px;
  }
  .products-preview .preview .content .right .price {
    font-size: 20px;
    margin: 2px 0px;
  }
  .products-preview .preview .content .right .cutPrice {
    font-size: 16px;
  }
  .products-preview .preview .content .right .size {
    margin: 0px;
    /* text-align: left; */
  }
  .products-preview .preview .content .right .size li {
    padding: 20px;
    height: 50px;
    width: 50px;
    font-size: 14px;
  }
  .products-preview .preview .content .right .addToCart {
    width: 320px;
    margin: 5px auto;
    padding: 10px;
  }
  .products-preview .preview .content .right .buyNow {
    width: 320px;
    padding: 10px;
  }
  /* ---- Contact Form Red colour Span Tag Error ------- */
  .form span {
    top: 15px;
    right: 10px;
  }
}

/* ------------------ 2nd time giving media queries -------------- */
@media (max-width: 1000px) {
  .subheader .search {
    display: none;
  }

  .c {
    width: 70%;
    grid-template-columns: 1fr;
  }
  .c .form {
    letter-spacing: 2px;
  }
  .c .form h1 {
    font-size: 20px;
    margin: 5px;
  }
  .description1 {
    width: 80%;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .men_content3 {
    padding: 10px 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .men_content3 .desc1 {
    width: 100%;
    padding: 10px;
  }
  .women_content3 {
    padding: 10px 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .women_content3 .desc1 {
    width: 100%;
    padding: 10px;
  }

  .cartContent .left .products .item .content {
    display: grid;
    gap: 10px;
    margin-left: 10px;
  }
  .cartContent .left .products .item .content .desc {
    gap: 5px;
    margin-bottom: 5px;
  }
  .cartContent .left .products .item .content .desc .pName {
    font-size: 20px !important;
  }
  .cartContent .left .products .item .content .desc .stock {
    font-size: 15px !important;
    border-bottom: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }

  .footer .eliteShoppy h1 {
    margin-bottom: 10px;
  }
  .footer h2 {
    margin: 0px;
  }
  .footer .posts .row {
    width: 100%;
  }
  .footer .posts .row .img {
    width: 33%;
    height: auto;
  }

  .banner h1 {
    margin: auto;
    font-size: 25px;
  }
  .banner h1 span {
    font-size: 35px;
    letter-spacing: 2px;
  }
  .banner .shopNow {
    width: 100px;
  }

  .twoImages {
    padding: 50px 100px;
  }
  .twoImages a {
    width: 100%;
  }
  .twoImages .img {
    margin: 20px 0px;
  }
  .twoImages .img .newArrivals {
    padding: 90px 10px 120px 150px;
  }

  .saveBanner {
    width: 100%;
  }
  .saveBanner .x {
    width: 100%;
  }
  .saveBanner .logos .logo h3 {
    font-size: 20px;
  }
  .saveBanner .information {
    padding: 20px;
  }

  .trending .inside .images {
    display: grid;
    margin: 0px;
  }
  .trending .inside .images .leftSide {
    width: 100%;
  }
  .trending .inside .images .x{
    padding: 150px auto;
  }
  .trending .inside .images .image1 {
    height: 500px;
    /* width: 450px; */

  }
  .trending .inside .images .hidden {
    padding: 120px 0px 50px 210px;
  }
  .trending .inside .images .image1 .hidden {
    padding: 130px 20px 240px 180px;
  }
  .trending .inside .images .rightSide{
    /* display: flex; */
    width: 100%;
    margin: auto;
    padding: 0px;
  }


  .fullBanner {
    width: 100%;
    margin: 0px;
  }
  .fullBanner .x {
    width: 100%;
    /* margin: 5px; */
  }

  .newArrivals .title {
    gap: 5px;
  }
  .newArrivals .rows{
    grid-template-columns: 1fr 1fr;
  }
  .newArrivals .title .section{
    padding: 10px;
  }

  .backgroundClip h1 {
    margin: 10px auto;
  }
  .backgroundClip .shopNow {
    width: 120px;
  }

  .icons {
    /* width: 100%; */
    /* margin: 20px 0px; */
    grid-template-columns: 1fr 1fr;
    margin: 10px;
  }
  .icons .icon {
    /* width: 44%; */
    margin-bottom: 10px;
    /* height: 80px; */
  }
  .icons .icon .symbol {
    width: 80px;
  }
  .icons .icon .symbol i {
    padding: 25px;
  }
  .icons .info h3 {
    margin: 3px 0px;
  }
  .icons .icon .info span {
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

@media (max-width: 1200px) {
  .members {
    grid-template-columns: 1fr 1fr;
  }
  .members .member .imgBack h1 {
    font-size: medium;
  }
  .members .member .imgBack h3 {
    font-size: 14px !important;
  }
  .teamgrid .h1 h1 {
    line-height: 30px !important;
  }
}
